@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --primary-color: #1f2544;
    --secondary-color: #3c4775;
    --tertiary-color: #279df2;
    --body-font: Montserrat, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 20px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
    z-index: 99;
    background-color: var(--primary-color);
}

.sidebar .nav-link {
    color: white;
    margin-bottom: 5px;
}

.sidebar .nav-link.active {
    color: white;
    background-color: var(--tertiary-color);
    width: 180px;
    margin-left: 10px;
    border-radius: 10px;
}
.sidebar .nav-link:hover {
    color: white;
    background-color: var(--tertiary-color);
    margin-left: 10px;
    border-radius: 10px;
}

.top-bar {
    background-color: var(--secondary-color);
}

.form-label {
    font-weight: bold;
}

.form-search input {
    width: 360px;
    padding: 0 30px;
    border-radius: 10px;
    bottom: none;
    font-weight: 600;
    font-size: 16px;
    color: black;
    height: 49px;
    background-color: #ffffff;
}
.form-search button {
    border:1px solid var(--tertiary-color);
}

